.filter
  &__wrapper
    position: relative
    display: flex
    align-items: center
    &_popup
      position: absolute
      min-width: 200px
      display: flex
      flex-direction: column

  &__button
    width: 20px
    height: 20px
    border-right: 2px solid black
    border-bottom: 2px solid black
    transform: rotate(45deg)
    background: none
    margin-right: 10px
  &__checkbox
    &_label
      font-size: 20px
